{release, {chat_release, "1"}, [chat, sasl, runtime_tools]}.
{extended_start_script, true}.
{sys_config, "rel/sys.config"}.
{vm_args, "rel/vm.args"}.
{overlay, [
    {mkdir, "etc/"},
    {mkdir, "data/"},
    {mkdir, "plugins/"},
    {template, "etc/acl.conf", "etc/acl.conf"},
    {template, "etc/plugins.conf", "etc/plugins.conf"}
    ]}.
