[{chat,
     [{broker,"\"127.0.0.1:1883\""},
      {listeners,
          [{http,9080,
               [{connopts,[]},
                {sockopts,[{nodelay,true}]},
                {acceptors,4},
                {max_clients,512}]}]}]},
 {emqttd,
     [{plugins_loaded_file,"data/loaded_plugins"},
      {plugins_etc_dir,"etc/plugins/"},
      {broker_sys_interval,60},
      {cache_acl,true},
      {acl_file,"etc/acl.conf"},
      {allow_anonymous,true},
      {protocol,
          [{max_clientid_len,1024},
           {max_packet_size,65536},
           {client_idle_timeout,30}]},
      {session,
          [{max_inflight,100},
           {retry_interval,60},
           {await_rel_timeout,20},
           {max_awaiting_rel,0},
           {collect_interval,0},
           {expired_after,86400}]},
      {queue,
          [{priority,[]},
           {type,simple},
           {max_length,infinity},
           {low_watermark,0.2},
           {high_watermark,0.6},
           {queue_qos0,true}]},
      {pubsub,[{pool_size,8},{by_clientid,true},{async,true}]},
      {bridge,[{max_queue_len,10000},{ping_down_interval,1}]},
      {listeners,
          [{tcp,1883,
               [{connopts,[]},
                {sockopts,[{backlog,1024},{nodelay,true}]},
                {acceptors,8},
                {max_clients,1024}]},
           {ssl,8883,
               [{ssl,
                    [{handshake_timeout,15000},
                     {keyfile,"etc/certs/key.pem"},
                     {certfile,"etc/certs/cert.pem"}]},
                {connopts,[]},
                {sockopts,[{nodelay,true}]},
                {acceptors,4},
                {max_clients,512}]},
           {http,8083,
               [{connopts,[]},
                {sockopts,[{nodelay,true}]},
                {acceptors,4},
                {max_clients,64}]},
           {https,8084,
               [{ssl,
                    [{handshake_timeout,15000},
                     {keyfile,"etc/certs/key.pem"},
                     {certfile,"etc/certs/cert.pem"}]},
                {connopts,[]},
                {sockopts,[{nodelay,true}]},
                {acceptors,4},
                {max_clients,64}]}]},
      {sysmon,
          [{long_gc,false},
           {long_schedule,240},
           {large_heap,8388608},
           {busy_port,false},
           {busy_dist_port,true}]}]},
 {sasl,[{sasl_error_logger,false}]},
 {lager,
     [{error_logger_hwm,1000},
      {error_logger_redirect,true},
      {handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{file,"log/error.log"},
                {level,error},
                {size,10485760},
                {date,"$D0"},
                {count,5}]}]},
      {crash_log,"log/crash.log"}]}].
