[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
%% {lager, [
%%        {colored, true}
%% ]},
 {emqttd, [
        {listeners, [
            {tcp, 1883, [
                %% Size of acceptor pool
                {acceptors, 16},
                %% Maxinum number of concurrent clients
                {max_clients, 1024},
                %% Socket Access Control
                {access, [{allow, all}]},
                %% Socket Option
                {sockopts, [
                    {backlog, 1024}
                    %Set buffer if hight thoughtput
                    %{recbuf, 4096},
                    %{sndbuf, 4096},
                    %{buffer, 4096}
                ]}
            ]}
        ]},
        {sysmon, []},
        {pubsub, []},
        {allow_anonymous, true},
        {queue, []},
        {session, [
            {await_rel_timeout, 20}
        ]},
        {protocol, []}
 ]},
 {chat, [
        {backend, {mongo, [
            {pools, [
                {chat, [
                    {size, 2},
                    {host, "localhost"},
                    {port, 27017},
                    {database, "chat"}
                ]}
            ]}
        ]}}
 ]}
].

